@model dynamic
<h1>@Html.TitleForPage(T("Change Password").ToString())</h1>
<p>@T("Your password has been changed successfully.")</p>
<p>Please <a href="@Url.Content("~/Users/Account/LogOff?ReturnUrl=%2F")">Sign out</a> and then Sign in with your new password.</p>
