<h1>Sorry, something broke</h1>
<p class="no-js-hide">You might like to go <a href="javascript:window.history.go(-1)">back to your previous page</a> and try again.</p>
<p class="no-js-hide">Otherwise:</p>
<ul>
    <li>If this keeps happening please contact <a href="/customersupport">Customer Support</a></li>
    <li>or go back to the <a href="/">Home page</a></li>
</ul>