@using Orchard.Utility.Extensions;

@{
    string name = Model.ContentField.DisplayName;
}
<div class="date-time-field date-time-field-@name.HtmlClassify()">
    @if (Model.Model.ShowDate)
    {
        <text>@Model.Model.Date</text>
    }
    @if (Model.Model.ShowTime)
    {
        <text>@Model.Model.Time</text>
    }
</div>
