ul.content-items 
{
    list-style-type: none;
    margin-left: 0;
    display: block;
}

.footer
{
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

ul.inline,
ol.inline
{
    margin-left: 0;
    list-style: none;
    display: block;
    margin-bottom: 10px;
}

ul.inline li,
ol.inline li
{
    margin-left: 0;
    list-style: none;
    display: inline;
}

#user-menu > li > a > strong
{
    cursor: pointer;
}

/*=== This will only work with Modernizr installed ===*/
.js .js-hide,
.no-js .no-js-hide
{
    display: none;
}
